@import '../../common/common.scss';

.button {
  background: #1A9FF9;
  color: #fff;
  &:hover {
    opacity: .9;
    color: #fff;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.loading {
  animation: rotate 3s ease infinite alternate;
}